<main class="Content-Wrapper">
    <section class="Content backgroundImg">
        <div class="divider"></div>
        <section class="Container">
            <h1 class="intro">About us</h1>
            <p class="description">Welcome to Games Wiki, where gaming memories come to life! Founded by <a class="github" href="https://github.com/gabriella-guimaraes" target="_blank" rel="noopener noreferrer">Gabriella Guimarães</a>, Games Wiki is a passion project aimed at creating a personalized experience for gamers of all levels.
    
                Built with Angular, Typescript, Node.js, and MongoDB Atlas, Games Wiki is a full-stack application designed to provide a seamless experience for storing and sharing your gaming adventures. Our cloud-based database ensures that your precious memories are always safe and accessible from anywhere.
                
                Join us as we continue to grow and evolve, driven by our dedication to providing you with the ultimate platform for preserving and celebrating your gaming journey. Thank you for being a part of the Games Wiki community!</p>
        </section>
    </section>
</main>

