<main class="Content-wrapper">
    <section class="Container">
        <h1 class="title">Games Gallery</h1>
        <form class="form-wrapper">
            <div>
                <mat-form-field appearance="outline" class="form-input">
                  <mat-label>Search games</mat-label>
                  <input  matInput>
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                </mat-form-field>
            </div>
            <button class="search-btn" mat-stroked-button color="primary">Search</button>
        </form>
    </section>
</main>
