<main class="Content-Wrapper">
    <section class="Container backgroundImg">
        <section class="intro-container">
            <h1 class="intro">Games Wiki</h1>
            <p class="body-1 description">Your personal gamer wiki</p>
        </section>
    </section>
    <span> Image designed by <a href="https://br.freepik.com/" target="_blank" rel="noopener noreferrer">Freepik</a> </span>

    <section class="Content">
        <p class="intro-text">Welcome to Games Wiki, where your gaming memories come to life. Our platform offers a space for gamers to curate their own personal gaming library, complete with detailed entries for each game they've played</p>
        <h2 class="latest-games">Your latest games</h2>

        <section class="games">
            <!-- Card games goes here -->
        </section>
    </section>
</main>

