.Hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../public/images/galaxy_bg3.png");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: white;
}