/* You can add global styles to this file, and also import other style files */
/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */

:root {
    --bg-dark: #1E1A1D!important;
    --details-pink: #810081!important;
    --details-purple: #5F00C0!important;
    --details-lilac: #b48ef0!important;
    --details-blue: #0551b6!important;
    --text-light: #EEE5E8!important;
    --text-gray: #b4aaae!important;
}

html, body { 
    height: 100%;
    background-color: var(--bg-dark);
    color: var(--text-light);
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
